<div class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><b>InverBienes</b></a>
  </div>

  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

</div>
<toaster-container></toaster-container>

<div class="row" *ngIf="showCloseButton">
  <div class="mx-auto">
    <button (click)="emitClose()" type="button" status="danger" nbButton outline>Cerrar vista</button>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action style="cursor: pointer;" *nbIsGranted="['view', 'user']" (click)="logout()">
      <nb-user  name="Cerrar Sesión"></nb-user>
    </nb-action>
  </nb-actions>
</div>
